/* -----------------removing default margin and padding--------- */
* {
    padding: 0px;
    margin: 0px;
}
/*---------------------------------------- Common css--------------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin-top: 135px;
    background-color: white;
    margin: 40px 157px;
}
.description-para {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.button {
    border: 0;
    background-image: linear-gradient(tomato, rgb(236, 4, 4));
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;

}
.button2{
    border: 0;
    background-image: linear-gradient(tomato, rgb(236, 4, 4));
    color: white;
    font-weight: 400;
    padding: 20px 40px;
    border-radius: 5px;

}
.section-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.blog-title{
    font-size: 45px;
    font-weight: 700;
    /* padding: 10px; */
    margin-bottom: 20px;
}
.left-side p{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}


/*---------------------------------------- top banner--------------------------------------- */
.top-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.top-banner h1{
    font-size: 65px;
    text-align: center;
    width: 865px;
    height: 158px;
}
.top-banner p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 691px;
    height: 56px;
}


/*--------------------------------------- Donet amount section---------------------------------- */

/* .donet-section p{
    font-size: 18;
    font-weight: 400;
    text-align: center;
    padding: 10px;
} */
.amount-container{
    color: #707070;
    height: 123px;
    width: 135px;
    font-weight: 700;
    font-size: 30px;
    /* background-color: #FAFAFA; */
    background-color: #FAFAFA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.donate-amount{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.other-amount{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    
}
.amount-field{
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #DADADA;
}
.donate-button {
    text-decoration: none;
    width: 160px;
    height: 56px;
}
.button-container{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*-------------------------------------- donate plan area------------------------------------- */
.donate-plan-container{
    display: flex;
    justify-content: space-between;
    
}
.plan-card{
    width: 360px;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 24px;
}
.plan-card img{
    width: 58px;
    height: 47;
    margin-bottom: 31px;
}
.plan-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 16px;
}
.plan-card p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
}
.bg1{
    background-color: rgba(79, 157, 166, 0.1);
}
.bg2{
    background-color: rgba(255, 89, 89, 0.1);
}
.bg3{
    background-color: rgba(232, 137, 22, 0.107);
}
/*---------------------------------------- blog post 1--------------------------------------- */
.blog-img{
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 374px;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
}
.top-blog{
    display: flex;
    justify-content: space-between;
}






/* .top-banner-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    margin-bottom: 130px;

    width: 100%;
    background-color: bisque;
    height: 100vh;
    background-image: url(./images/donation5.jpg);
} */

/* .top-banner{
    background-image: url(./images/donation5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */